:root {
  --main-bg-color: brown;
}

body + footer {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

pre.example > #id1 {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
  max-width: 100%;
}

.example {
  color: var(--primary-color);
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


@media (30em < width < 50em) {
  .other {
    /* comment */
  }
}

@media screen and (min-width: 30em) and (orientation: landscape) {
  /* … */
}
